body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: O;
    text-align: center;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px;
    height: 80px;
    background-color: #1d428a;
    color: white;
  }
  
  
  .logo-link{
    position: absolute;
    left: 20px;
    display: block;
  }
  
  .logo-link img{
    max-height: 80px; 
    height: auto;
    width: auto;
    display: block;
    object-fit: contain;
  }
  
  .header-text {
    text-align: center;
  }
  
  .header h1 {
    margin: 0; 
    font-size: 24px;
  }
  
  .header-text p {
    margin: 5px 0 0 0; 
    font-size: 14px;
  }

  #chart-container {
    display: flex;
    justify-content: flex-end; /* align right */
    margin: 20px auto;
    max-width: 1000px; /* optional limit */
    padding-right: 40px; /* spacing from right edge */
  }
  
  svg {
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
  }

  
h1 {
    margin-bottom: 10px;
  }
  
  #controls {
    margin-bottom: 20px;
  }
  
  #controls button {
    margin: 0 5px;
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
  }
  
  #seasonDisplay {
    font-weight: bold;
    font-size: 18px;
    margin-left: 20px;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  header {
    background-color: #1d428a;
    color: white;
    padding: 20px;
    text-align: center;
  }
  nav {
    background-color: #c8102e;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 15px 0;
  }
  nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  nav a:hover {
    text-decoration: underline;
  }