/* Match dashboard header */
header {
  background-color: #1d428a;
  color: white;
  padding: 20px ;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

/* Match dashboard nav */
nav {
  background-color: #c8102e;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 15px 0;
  box-sizing: border-box;
}
nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
nav a:hover {
  text-decoration: underline;
}

/* Match dashboard body */
body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #222;
}

/* General Headings */
h1 {
  background-color: #1d428a;
  color: white;
  padding: 20px ;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

/* Controls and Inputs */
#controls {
  margin: 1rem 0;
}

input[type="text"],
button {
  font-size: 16px;
  border-radius: 12px;
  border: 1px solid #ccc;
}

input[type="text"] {
  padding: 10px 16px;
  width: 300px;
  outline: none;
}

button {
  margin-left: 10px;
  padding: 10px 16px;
  background-color: #0077ff;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s ease;
  border: none;
}

button:hover {
  background-color: #005fcc;
}

/* Season Slider Wrapper */
#sliderWrapper {
  display: none;
  margin-top: 20px;
}

.slider-labels {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.slider-label {
  padding: 6px 10px;
  border-radius: 8px;
  background: #f0f0f0;
  cursor: pointer;
}

.slider-label:hover {
  background-color: #0077ff;
  color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* MAP */
#map {
  margin-top: 20px;
  background-color: #eaf4ff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Geography Styling */
.country,
.state-outline {
  stroke-width: 0.5;
}

.country {
  fill: #f2f2f2;
  stroke: #ddd;
}

.state-outline {
  fill: none;
  stroke: #bbb;
}

/* Team Logos and Nodes */
.team-logo,
.team-node {
  transition: transform 0.2s ease, fill 0.3s ease;
}

.team-logo {
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
  pointer-events: none;
}

.team-logo:hover {
  transform: scale(1.1);
}

.team-node:hover {
  transform: scale(1.2);
  fill: #ff5c5c;
}

footer {
  background: #1d428a;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 15px 0;
  box-sizing: border-box;
}

#homepage_img {
  position: absolute;
  padding: 10px;
  left: 10px;
  top: 0;
  height: 80px;
}
