body{
    font-family: Calibri, sans-serif;
}

h1{
    text-align: center;
}
/* Header container */
.header {
    display: flex;
    align-items: center; /* Aligns items vertically */
    justify-content: center; /* Centers everything */
    /* NBA blue background */
    padding: 20px; /* Adds spacing */
}

/* Logo styling */
.logo {
    width: 60px; /* Adjust size as needed */
    height: auto;
    margin-right: 15px; /* Space between logo and text */
}

/* Title styling */
h1 {
    color: white;
    background-color: #1D428A;
    font-weight: bold;
    margin: 0;
    
}
/* color for the NBA logo #C8102E */